.users-list-size {
    max-width: 40%;
    empty-cells: hide;
}

.circle {
    margin-right: 8px;
    box-sizing: border-box;
    min-width: 10px;
    min-height: 10px;
    border-radius: 8px;
}

.ant-list-items {
    >li {
        white-space: nowrap;
        line-height: 19px;
        font-size: 16px;
        font-weight: 400;

        >span:last-child {
            width: 100%;
            text-align: start;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    >li:first-child {
        padding-top: 25px;
    }

    >li:last-child {
        padding-bottom: 25px;
    }
}

@media screen and (max-width:768px) {
    .users-list-size {
        max-width: 50dvw;
    }

    .ant-list-items {
        >li {
            display: flex;
            flex-wrap: nowrap !important;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            white-space: nowrap;
            line-height: 19px;
            font-size: 16px;
            font-weight: 400;

            >span:last-child {
                width: 100%;
                text-align: center;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
}

@media screen and (max-width:568px) {
    .users-list-size {
        max-width: 88%;
    }
}